/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
  font-family: sans-serif;
}

button:not([disabled]) {
  cursor:pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson;
  /* --x-axis: 11cqi;
  --y-axis: 95cqb; */
}





/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
}

body {
  width: 100vw;
  background-color: beige;
  display: grid;
  place-items: center;
  /* overflow: hidden; */
}

main {
  display: flex;
  flex-direction: column;
}

main > ul {
  list-style: none;
  padding: 0;
  position: relative;
}

main > ul > li {
  position: relative;
}

main > ul > li > img {
  width: 100%;
  transform-origin: top center;
}

/* main > ul > li:nth-of-type(1) {
  
} */

main > ul > li:nth-of-type(2) {
  transform: translateY(-2em); 
}

main > ul > li:nth-of-type(3) {
  transform: translateY(-2.85em);
  z-index: -1;
}

main > ul > li:nth-of-type(4) {
  transform: translateY(-3.9em);
}


/* ... */




/* Mobile devices */
@media  screen and (min-width: 576px) {
  main > ul {
    width: 30em;
  }
}




/* Tablets */
@media  screen and (min-width: 768px) {
  main > ul {
    width: 50em;
  }
}




/* Desktops */
@media  screen and (min-width: 992px) {
  main {
    width: 60em;
    position: relative;
  }

  /* Tom and jerry frame */
  main > section {
    container-type: size;
    width: 100%;
    height: 90%;
    background-color: rgba(255, 0, 0, 0.248);
    position: absolute;
    z-index: 100;
    pointer-events: none;

    transform: translateY(04em);
  }

  /* house */
  main > ul {
    width: 100%;
    scale: 1;
    transform: translate(0em, 0em);
    animation: 
    zoom 2s 1s ease-out forwards,
    move 2s 4s ease-in-out forwards;
  }

  /* CAMERA ANIMATION */

  /* @keyframes zoom {
    from {
      scale: 1;
      transform: translate(0em, 0em);
    }
    to {
      scale: 2;
      transform: translate(10em, 10em);
    }
  } */

  /* @keyframes move {
    from {
      transform: translate(10em, 10em);
    }
    to {
      transform: translate(-15em, 10em);
    }
  } */

  /* --- */

  /* TOM */
  main > section > div:nth-of-type(1){
    width: 5em;
    height: 5em;
    background-color: darkgray;
    position: absolute;

    transform: translate(calc(0cqi - 5em), calc(0cqb - 5em));
    
    /* background-image: url(../images/testgif.gif); */
    /* background-size: 120%;
    background-position: 0% -140%;
    background-repeat: no-repeat; */

    animation: tom-1-running 5s 3s cubic-bezier(.24,0,1,.99) forwards;
  }

  /* TOM ANIMATION */

  /* --- */

  /* JERRY */

  main > section > div:nth-of-type(2) {
    display: inline-block;
    offset-path: path("M90,290 L450,290 C450,200 500,100 570,170 L650,170 C750,170 750,290 750,290 L860,290 860,540 580,530 C560,530 580,530 570,370 560,340 520,350 520,355 L440,355 C400,345 400,345 350,385 L330,385 C310,345 300,375 300,385 L300,385 C250,355 150,305 150,540 C150,510 100,520 100,540 L80,540 80,730 200,730 440,730 C440,670 470,570 560,640 L560,640 C560,640 580,620 600,640 L650,640 C650,640 750,600 750,950 L70,950");
    offset-distance: 0%;
    background-color: aqua;
    stroke: black;
    width: 1.5em;
    height: 1.5em;
  }

  svg {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  /* JERRY ANIMATION */

  .jerry-1 {
    animation: jerry-1-move 1s forwards cubic-bezier(0.02, 0.01, 0.21, 1), jerry-1-jump .7s 1s cubic-bezier(0.02, 0.01, 0.21, 1) forwards;
  }

  @keyframes jerry-1-move {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 8.5%;
    }
  }

  @keyframes jerry-1-jump {
    0% {
      offset-distance: 8.5%;
    }
    100% {
      offset-distance: 15%;
    }
  }

  .jerry-2 {
    animation: jerry-2-jump 2s forwards cubic-bezier(0.02, 0.01, 0.21, 1), jerry-2-inwall 2s 2s forwards;
  }

  @keyframes jerry-2-jump {
    0% {
      offset-distance: 15%;
    }
    100% {
      offset-distance: 22.5%;
    }
  }

  @keyframes jerry-2-inwall {
    0% {
      offset-distance: 22.5%;
      opacity: 1;
    }
    1% {
      offset-distance: 22.5%;
      opacity: 0;
    }
    99% {
      offset-distance: 28.5%;
      opacity: 0;
    }
    100% {
      offset-distance: 28.5%;
      opacity: 1;
    }
  }

  /* @keyframes jerry-1 {
    from {
      transform: translate(calc(10cqi - 1.5em), calc(95cqb - 1.5em));
    }
    to {
      transform: translate(calc(52cqi - 1.5em), calc(95cqb - 1.5em));
    }
  } */

  /* --- */

  /* Painting 1 */
  main > ul > li:nth-of-type(1) > figure:nth-of-type(1) {
    width: 6em;
    height: 5em;
    margin: 0;
    background-color: rgb(226, 177, 114);
    position: absolute;
    border: .2em solid orange;
    box-shadow: .1em .1em 0 brown;
    transform: perspective(20em) rotateY(30deg) rotateX(7deg) rotateZ(4deg);

    bottom: 11%;
    left:9%;
    z-index: 10;
  }

  main > ul > li:nth-of-type(1) > figure:nth-of-type(1) > img {
    width: 100%;
  }

  main > ul > li:nth-of-type(1) > figure:nth-of-type(1) > figcaption {
    position: absolute;
    top: 0;
    color: red;
  }
  /* --- */

  /* Painting 2 */
  main > ul > li:nth-of-type(1) > figure:nth-of-type(2) {
    width: 6em;
    margin: 0;
    background-color: rgb(226, 177, 114);
    position: absolute;
    border: .2em solid orange;
    box-shadow: .1em .1em 0 brown;
    transform-origin: 80% -10%;
    rotate: 0deg;
    translate: 0% 0%;

    bottom: 23%;
    left: 60%;
    z-index: 10;
  }

  .painting2-fall {
    animation: painting2-fall-1 .7s .5s ease-out forwards, painting2-fall-2 1s 1.5s forwards;
  }

  @keyframes painting2-fall-1 {
    40% {
      rotate: -80deg;
      translate: 0% 0%;
    }
    60% {
      rotate: -30deg;
      translate: 0% 0%;
    }
    70% {
      rotate: -55deg;
      translate: 0% 0%;
    }
    90% {
      rotate: -45deg;
      translate: 0% 0%;
    }
    100% {
      rotate: -50deg;
      translate: 0% 0%;
    }
  }

  @keyframes painting2-fall-2 {
    0% {
      rotate: -50deg;
      translate: 0% 0%;
    }
    20%, 60% {
      rotate: -50deg;
      translate: 96% 68%;;
      transform-origin: bottom left;
    }
    80% {
      rotate: 0deg;
      translate: 96% 68%;
      transform-origin: bottom left;
    }
    90% {
      rotate: -5deg;
      translate: 96% 68%;
      transform-origin: bottom left;
    }
    100% {
      rotate: 0deg;
      translate: 96% 68%;
      transform-origin: bottom left;
    }
  }

  main > ul > li:nth-of-type(1) > figure:nth-of-type(2) > img {
    width: 100%;
  }

  main > ul > li:nth-of-type(1) > figure:nth-of-type(2) > figcaption {
    position: absolute;
    top: 0;
    color: red;
  }
  /* --- */

  /* closet */

  main > ul > li:nth-of-type(2) > figure:nth-of-type(1) {
    width: 8em;
    height: 11em;
    background-color: brown;
    position: absolute;
    margin: 0;

    top: 18%;
    right: 39%;
  }

  main > ul > li:nth-of-type(2) > figure:nth-of-type(1)::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 97%;
    background-color: azure;
    transform: perspective(10em) rotateY(-70deg);
    
    top: 2%;
    left: -7%;
  }

  /* closet door left */
  main > ul > li:nth-of-type(2) > figure:nth-of-type(1) > div > span {
    width: 42%;
    height: 80%;
    background-color: lightcoral;
    position: absolute;

    top: 5%;
    left: 6%;
  }

  /* closet door right */
  main > ul > li:nth-of-type(2) > figure:nth-of-type(1) > div > span:last-of-type {
    left: calc(94% - 42%);
    transform: perspective(10em) rotateY(0deg);
    transform-origin: right center;
  }

  .closet-door {
    animation: closet-door .5s ease-out forwards;
  }

  @keyframes closet-door {
    60% {
      transform: perspective(10em) rotateY(130deg);
    }
    80% {
      transform: perspective(10em) rotateY(110deg);
    }
    100% {
      transform: perspective(10em) rotateY(120deg);
    }
  }

  /* --- */

  /* bookshelf */

  main > ul > li:nth-of-type(2) > figure:nth-of-type(2) {
    width: 10em;
    height: .5em;
    background-color: brown;
    position: absolute;
    margin: 0;
    transform-origin: right center;
    rotate: 0deg;

    top: 30%;
    left: 18%;
  }

  .bookshelf-fall {
    animation: bookshelf-fall .5s linear forwards;
  }

  @keyframes bookshelf-fall {
    60% {
      rotate: -55deg;
    }
    80% {
      rotate: -50deg;
    }
    100% {
      rotate: -55deg;
    }
  }

  /* --- */

  /* bowling ball */

  main > ul > li:nth-of-type(2) > div {
    width: 3em;
    height: 3em;
    background-color: black;
    position: absolute;
    margin: 0;
    border-radius: 50%;
    transform: translate(0%, 0%);
    z-index: 100;

    top: 14%;
    left: 19%;
  }

  .bowlingball-fall {
    animation: bowlingball-fall 1s .1s ease-in forwards;
  }

  @keyframes bowlingball-fall {
    80% {
      transform: translate(0%, 800%);
    }
    90% {
      transform: translate(0%, 700%);
    }
    100% {
      transform: translate(0%, 800%);
    }
  }

  /* --- */

  /* painting3 */
    main > ul > li:nth-of-type(3) > figure:nth-of-type(1) {
      width: 7em;
      height: 6em;
      margin: 0;
      background-color: rgb(226, 177, 114);
      position: absolute;
      border: .2em solid orange;
      box-shadow: .1em .1em 0 brown;

      top: 10%;
      left:25%;
      z-index: 10;
    }

    main > ul > li:nth-of-type(3) > figure:nth-of-type(1) > img {
      width: 100%;
    }
  
    main > ul > li:nth-of-type(3) > figure:nth-of-type(1) > figcaption {
      position: absolute;
      top: 0;
      color: red;
    }
    
  /* --- */

  /* trap door */

  main > ul > li:nth-of-type(3) > figure:nth-of-type(2) {
    width: 6em;
    height: 6em;
    background-color: brown;
    position: absolute;
    transform: perspective(20em);
    perspective-origin: 28% 40%;
    top: 55%;
    right: 15%;
    margin: 0;
  }

  main > ul > li:nth-of-type(3) > figure:nth-of-type(2) > div {
    width: 6em;
    height: 6em;
    background-color: lightcoral;
    position: absolute;
    /* transform-origin: right center; */
    top: 0%;
    right: 0%;
  }

  /* --- */

  /* OTHER ANIMATION */

  /* --- */

}