
@font-face {
  font-family: 'gochiHand-Regular';
  src:  
  url(../fonts/gochihand-regular.ttf) format('truetype'),
  url(../fonts/gochihand-regular.woff) format('woff'),
  url(../fonts/gochihand-regular.woff2) format('woff2');
}


/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0;
}

body {
  margin:0;
  font-family: "gochiHand-Regular", sans-serif;
}

button:not([disabled]) {
  cursor:pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --yellow: rgb(251, 251, 30);
  --orangeyellow: rgb(247, 205, 9);
  --orange: rgb(245, 100, 8);
  --red: rgb(246, 8, 8);
  --darkred: rgb(161, 9, 10);

  --black: rgb(22, 22, 22);
  --white: rgb(246, 245, 245);

  --painting-border: .2em solid var(--orangeyellow); 
  --painting-shadow: .1em .1em 0 var(--darkred);

  --wood-brown: rgb(120, 70, 48);
  --wood-lightbrown: rgb(150, 82, 43);
  --wood-darkbrown: rgb(137, 54, 39);
}

/********************/
/* ALGEMENE STYLING */
/********************/

body {
  width: 100vw;
  display: grid;
  place-items: center;

  background: linear-gradient(0deg, rgb(104, 44, 36) 0%, rgb(104, 44, 36) 20%, rgba(50,152,69,1) 20%, rgba(50,152,69,1) 30%, rgb(171, 223, 220) 30%, rgb(171, 223, 220) 100%);
  overflow: hidden;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background: var(--black);
  }
} */

header {
  width: 60em;
  position: relative;
}

header > img {
  width: 30em;
  position: absolute;
  top: 5em;
  left: 2em;

  z-index: 110;
  rotate: -10deg;
  opacity: 1;

  animation: logo-hidden 1s 1.5s linear forwards;
}

@keyframes logo-hidden {
  to {
    opacity: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 60em;
  position: relative;
}

main > ul {
  position: relative;
  list-style: none;
  padding: 0;
}

main > ul > li {
  position: relative;
}

main > ul > li > img {
  width: 100%;
  transform-origin: top center;
}

main > ul > li:nth-of-type(1) > img:first-of-type {
  position: absolute;
  z-index: 100;
  pointer-events: none;
}

main > ul > li:nth-of-type(2) {
  transform: translateY(-2.14em); 
  z-index: 1;
}

main > ul > li:nth-of-type(3) {
  transform: translateY(-3.2em);
}

main > ul > li:nth-of-type(4) {
  transform: translateY(-4.4em);
}







li > figure > article {
  display: none;
}

.timeline article {
  width: 35em;
  height: 14em;
  position: absolute;
  display: flex !important;
  background-color: var(--white);
  font-size: .5em;
  padding: 1em;
  border-radius: 1em;
  z-index: 1;
  transition: 200ms;
}

.timelineAlt article {
  width: 18em;
  height: 28em;
  position: absolute;
  display: block !important;
  background-color: var(--white);
  font-size: .5em;
  padding: 1em;
  border-radius: 1em;
  z-index: 1;
  transition: 200ms;
}

.timeline article::after, .timelineAlt article::after {
  content: "";
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: var(--white);
  rotate: 45deg;
}

.timeline article > img, .timelineAlt article > img {
  width: 100%;
  margin-right: 1em;
  border-radius: 1em;
}








/* Tom and jerry frame */
main > section {
  width: 100%;
  height: 90%;
  position: absolute;

  container-type: size;
  z-index: 100;
  pointer-events: none;

  transform: translateY(04em);
}

main > ul {
  width: 100%;
}

/* house */
main {
  scale: 1;
  transform: translate(0em, 0em);
  animation: zoom 2s 2s ease-out forwards;
}

/* CAMERA ANIMATION */

@keyframes zoom {
  from {
    scale: 1;
    transform-origin: 10em 12em;
  }
  to {
    scale: 2;
    transform-origin: 10em 12em;
  }
}

.camera-painting1 {
  scale: 2;
  animation: camera-painting1 2s forwards;
}

@keyframes camera-painting1 {
  from {
    transform-origin: 10em 12em;
  }
  to {
    transform-origin: 51em 12em;
  }
}

.camera-painting2 {
  scale: 2;
  animation: camera-painting2 2s forwards;
}

@keyframes camera-painting2 {
  from {
    transform-origin: 51em 12em;
  }
  to {
    transform-origin: 51em 41em;
  }
}

.camera-closet {
  scale: 2;
  animation: camera-closet 4s forwards;
}

@keyframes camera-closet {
  from {
    transform-origin: 51em 41em;
  }
  to {
    transform-origin: 20em 41em;
  }
}

.camera-shelf {
  scale: 2;
  animation: camera-shelf .7s ease-out forwards;
}

@keyframes camera-shelf {
  from {
    transform-origin: 20em 41em;
  }
  to {
    transform-origin: 20em 68em;
  }
}

.camera-painting3 {
  scale: 2;
  animation: camera-painting3 2.5s forwards;
}

@keyframes camera-painting3 {
  from {
    transform-origin: 20em 68em;
  }
  to {
    transform-origin: 51em 68em;
  }
}

.camera-trapdoor {
  scale: 2;
  animation: camera-trapdoor 1s forwards, camera-trapdoor-2 1s 1s forwards;
}

@keyframes camera-trapdoor {
  from {
    transform-origin: 51em 68em;
  }
  to {
    transform-origin: 51em 88em;
  }
}

@keyframes camera-trapdoor-2 {
  from {
    transform-origin: 51em 88em;
  }
  to {
    transform-origin: 20em 88em;
  }
}



/* --- */

/* TOM */
main > section > button:nth-of-type(1){
  width: 5em;
  height: 5em;
  position: absolute;

  transform: translateX(1.8em);
  transform-origin: 50% 75%;
  z-index: 10;

  offset-path: path("M600,290 C590,290 650,180 680,290 L700,290 C750,300 800,510 600,510 L185,510 185,750 500,750 C500,750 550,790 700,780 C700,780 790,800 700,960 L80,960");
  offset-distance: 0%;
  offset-rotate: 0deg;
  border: none;
  background: none;

  background-image: url(../images/assets/tom-temp.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

/* TOM ANIMATION */


/* Painting 3 */
.tom-1 {
  animation: tom-1 .5s ease-in-out forwards;
}

@keyframes tom-1 {
  from {
    offset-distance:0%;
  }
  to {
    offset-distance:6%;
  }
}

/* Closet */
.tom-2 {
  animation: tom-2-run 1s ease-in forwards, tom-2-run-clip 1s ease-in forwards;
}

@keyframes tom-2-run {
  from {
    offset-distance:6%;
    transform: scaleX(1);
  }
  10% {
    offset-distance:9%;
    transform: scaleX(-1);
  }
  90% {
    offset-distance:20%;
    transform: scaleX(-1);
  }
  to {
    offset-distance:19%;
    transform: scaleX(-1);
  }
}

@keyframes tom-2-run-clip {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  75% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  90% {
    clip-path: polygon(0 0, 17% 0, 17% 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 49% 0, 49% 100%, 0 100%);
  }
}

/* Bowling ball */

.tom-3 {
  animation: tom-3 2s ease-in forwards;
}

@keyframes tom-3 {
  from {
    offset-distance:19%;
    transform: scaleX(-1);
  }
  50% {
    offset-distance:36%;
    transform: scaleX(-1);
  }
  55%, 95% {
    offset-distance:36%;
    transform: scaleX(1);
  }
  100% {
    offset-distance:36%;
    transform: scaleX(-1);
  }
}

/* Shelf */

.tom-4 {
  animation: tom-4 .3s ease-in forwards;
}

@keyframes tom-4 {
  from {
    offset-distance:36%;
    transform: scaleX(-1);
  }
  to {
    offset-distance:46%;
    transform: scaleX(-1);
  }
}

/* Painting 3 */

.tom-5 {
  animation: tom-5 3s ease-in forwards;
}

@keyframes tom-5 {
  from {
    offset-distance:46%;
  }
  to {
    offset-distance:58%;
  }
}

/* Trapdoor */

.tom-6 {
  animation: tom-6 1.5s ease-in forwards, tom-6-run 1s 5s ease-in forwards;
}

@keyframes tom-6 {
  from {
    offset-distance:58%;
  }
  90% {
    offset-distance:68%;
  }
  to {
    offset-distance:66%;
  }
}

@keyframes tom-6-run {
  from {
    offset-distance:68%;
    transform: scaleX(-1);
  }
  90% {
    offset-distance:100%;
    transform: scaleX(-1);
  }
  to {
    offset-distance:98%;
    transform: scaleX(-1);
  }
}

/* --- */

/* JERRY */

main > section > button:nth-of-type(2) {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;

  offset-path: path("M90,290 L450,290 C450,200 500,100 570,170 L650,170 C750,170 750,290 750,290 L860,290 860,540 580,530 C560,530 580,530 570,370 560,340 520,350 520,355 L440,355 C400,345 350,325 300,385 L270,385 C260,345 240,375 240,385 L220,385 C220,355 150,305 150,540 C150,510 100,520 100,540 L80,540 80,730 200,730 440,730 C440,670 470,570 560,640 L560,640 C560,640 580,620 600,640 L650,640 C650,640 750,600 750,950 L70,950");
  offset-distance: 0%;
  offset-rotate: 0deg;

  transform: translateX(1.8em);
  
  border: none;
  background: none;
  background-image: url(../images/assets/jerry-temp.png);
  background-repeat: no-repeat;
  background-size: contain;
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* JERRY ANIMATION */

/* Painting 1 */
.jerry-1 {
  animation: jerry-1-move 1s.51s forwards cubic-bezier(0.02, 0.01, 0.21, 1), jerry-1-jump .7s 1.5s cubic-bezier(0.02, 0.01, 0.21, 1) forwards;
}

@keyframes jerry-1-move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 8.5%;
  }
}

@keyframes jerry-1-jump {
  0% {
    offset-distance: 8.5%;
  }
  100% {
    offset-distance: 15%;
  }
}

/* Painting 2 */
.jerry-2 {
  animation: jerry-2-jump 2s forwards cubic-bezier(0.02, 0.01, 0.21, 1), jerry-2-inwall 2s 2s forwards;
}

@keyframes jerry-2-jump {
  0% {
    offset-distance: 15%;
  }
  100% {
    offset-distance: 22%;
  }
}

@keyframes jerry-2-inwall {
  0% {
    offset-distance: 22%;
    opacity: 1;
  }
  1% {
    offset-distance: 22%;
    opacity: 0;
  }
  99% {
    offset-distance: 29%;
    opacity: 0;
    transform: translateX(1.8em) scaleX(1);
  }
  100% {
    offset-distance: 29%;
    opacity: 1;
    transform: translateX(1.8em) scaleX(-1);
  }
}

/* Closet */
.jerry-3 {
  animation: jerry-3 2s ease-in-out forwards;
}

@keyframes jerry-3 {
  from {
    offset-distance: 29%;
    transform: translateX(1.8em) scaleX(-1);
  }
  to {
    offset-distance:41%;
    transform: translateX(1.8em) scaleX(-1);
  }
}

/* Closet again */
.jerry-4 {
  animation: jerry-4 1s ease-in-out forwards;
}

@keyframes jerry-4 {
  from {
    offset-distance: 41%;
    transform: translateX(1.8em) scaleX(-1);
  }
  to {
    offset-distance:46.2%;
    transform: translateX(1.8em) scaleX(-1);
  }
}

/* Bookshelf */
.jerry-5 {
  animation: jerry-5 3s ease-in-out forwards;
}

@keyframes jerry-5 {
  from {
    offset-distance:46.2%;
    transform: translateX(1.8em) scaleX(-1);
  }
  99% {
    offset-distance:55.8%;
    transform: translateX(1.8em) scaleX(-1);
    opacity: 1;
  }
  to {
    offset-distance:55.8%;
    transform: translateX(1.8em) scaleX(-1);
    opacity: 0;
  }
}

/* Painting 3 */

.jerry-6 {
  animation: jerry-6 3s ease-in forwards, jerry-6-jump 1s 3s ease-out forwards;
}

@keyframes jerry-6 {
  from {
    offset-distance:63.5%;
  }
  to {
    offset-distance: 68%;
  }
}

@keyframes jerry-6-jump {
  from {
    offset-distance: 68%;
  }
  to {
    offset-distance: 75%;
  }
}

.jerry-7 {
  animation: jerry-7 1s ease-in forwards;
}

@keyframes jerry-7 {
  from {
    offset-distance: 75%;
  }
  to {
    offset-distance: 84%;
  }
}

.jerry-8 {
  animation: jerry-8 2s ease-in forwards;
}

@keyframes jerry-8 {
  from {
    offset-distance: 84%;
  }
  to {
    offset-distance: 100%;
  }
}

/* --- */

/* buttons */

button {
  width: 100%;
  height: 100%;
  position: absolute;
  background: none;
  border: none;
}

button:focus {
  /* outline: none; */
}

li > figure:hover{
  box-shadow: 0 0 1em .5em rgba(255, 255, 0, 0.2) !important;
}

figure > button:focus-visible, figure > button:focus{
  transition: 100ms;
  border: var(--painting-border);
  outline: none;
  box-shadow: 0 0 1em .5em rgba(255, 255, 0, 0.5);
}

main > ul > li:nth-of-type(1) > figure:nth-of-type(1) > img {
  width: 100%;
}

main > ul > li:nth-of-type(1) > figure:nth-of-type(1) > figcaption {
  position: absolute;
  color: var(--black);
}

/* --- */


/* Painting 1 */
main > ul > li:nth-of-type(1) > figure:nth-of-type(1):not(article) {
  width: 6em;
  height: 5em;
  position: absolute;
  
  bottom: 11%;
  left:9%;

  margin: 0;
  /* transform: perspective(20em) rotateY(30deg) rotateX(7deg) rotateZ(4deg); */
  scale: 1;
  
  background-color: beige;
  border: var(--painting-border);
  box-shadow: var(--painting-shadow);
  
  z-index: 10;
}

main > ul > li:nth-of-type(1) > figure:nth-of-type(1) > img {
  width: 100%;
}

main > ul > li:nth-of-type(1) > figure:nth-of-type(1) > article {
  top: -80%;
  right: -260%;
}

main > ul > li:nth-of-type(1) > figure:nth-of-type(1) > article::after {
  bottom: 10%;
  left: -3%;
  z-index: -1;
}

/* --- */

/* Mouse holes */

main > ul > li:nth-of-type(1) > aside,
main > ul > li:nth-of-type(2) > aside,
main > ul > li:nth-of-type(3) > aside {
  width: 1em;
  height: 1.5em;
  position: absolute;

  border-radius: 1em 1em 0 0 ;
  background-color: var(--black);
}

/* hole attic */
main > ul > li:nth-of-type(1) > aside {
  bottom: 12%;
  right: 8%;
}

/* holes 2nd floor */
main > ul > li:nth-of-type(2) > aside:first-of-type {
  bottom: 16%;
  right: 9%;
  transform: skewY(21deg);
}

main > ul > li:nth-of-type(2) > aside:last-of-type {
  bottom: 15.5%;
  right: 88%;
  transform: skewY(-21deg);
}

/* hole 1st floor */
main > ul > li:nth-of-type(3) > aside {
  bottom: 43%;
  right: 74%;
}

/* --- */

/* Painting 2 */
main > ul > li:nth-of-type(1) > figure:nth-of-type(2) {
  width: 6em;
  height: 4.6em;
  position: absolute;
  bottom: 23%;
  left: 60%;

  margin: 0;
  background-color: var(--white);
  border: var(--painting-border);
  box-shadow: var(--painting-shadow);
  transform-origin: 80% -10%;

  z-index: 10;
}

main > ul > li:nth-of-type(1) > figure:nth-of-type(2) > img {
  width: 100%;
}

main > ul > li:nth-of-type(1) > figure:nth-of-type(2) > article {
  top: -80%;
  right: -300%;
}

main > ul > li:nth-of-type(1) > figure:nth-of-type(2) > article::after {
  bottom: 10%;
  left: -3%;
  z-index: -1;
}

.painting2-fall {
  animation: painting2-fall-1 .7s .5s ease-out forwards, painting2-fall-2 1s 1.5s forwards;
}

@keyframes painting2-fall-1 {
  40% {
    rotate: -80deg;
    translate: 0% 0%;
  }
  60% {
    rotate: -30deg;
    translate: 0% 0%;
  }
  70% {
    rotate: -55deg;
    translate: 0% 0%;
  }
  90% {
    rotate: -45deg;
    translate: 0% 0%;
  }
  100% {
    rotate: -50deg;
    translate: 0% 0%;
  }
}

@keyframes painting2-fall-2 {
  0% {
    rotate: -50deg;
    translate: 0% 0%;
  }
  20%, 60% {
    rotate: -50deg;
    translate: 96% 68%;;
    transform-origin: bottom left;
  }
  80% {
    rotate: 0deg;
    translate: 96% 68%;
    transform-origin: bottom left;
  }
  90% {
    rotate: -5deg;
    translate: 96% 68%;
    transform-origin: bottom left;
  }
  100% {
    rotate: 0deg;
    translate: 96% 68%;
    transform-origin: bottom left;
  }
}

main > ul > li:nth-of-type(1) > figure:nth-of-type(2) > img {
  width: 100%;
}

main > ul > li:nth-of-type(1) > figure:nth-of-type(2) > figcaption {
  position: absolute;
  color: var(--black);
}

.painting2-timeline {
  width: 12em !important;
  height: 10em !important;
  z-index: 200 !important;
  transition: 100ms;
}

.painting2-timeline figcaption {
  font-size: .8em;
  margin: .5em;
  opacity: 1 !important;
  transition: 200ms;
}
/* --- */

/* closet */

main > ul > li:nth-of-type(2) > figure:nth-of-type(1) {
  width: 8em;
  height: 11em;
  position: absolute;

  top: 18%;
  right: 39%;

  z-index: 1;
  background-color: var(--wood-brown);
  margin: 0;
  border: 2px solid var(--black);
}

main > ul > li:nth-of-type(2) > figure:nth-of-type(1) > article {
  top: 27%;
  left: -136%;
}

main > ul > li:nth-of-type(2) > figure:nth-of-type(1) > article::after {
  top: -6%;
  right: 5%;
  z-index: -1;
}


main > ul > li:nth-of-type(2) > figure:nth-of-type(1)::before {
  content: "";
  width: 10%;
  height: 97%;
  position: absolute;
  
  top: 2%;
  left: -7%;

  background-color: var(--wood-darkbrown);
  border: 2px solid var(--black);
  transform: perspective(10em) rotateY(-70deg);
}

/* closet door left */
main > ul > li:nth-of-type(2) > figure:nth-of-type(1) > div > span {
  width: 42%;
  height: 80%;
  position: absolute;

  top: 5%;
  left: 6%;

  z-index: -1;
  background-color: var(--wood-lightbrown);
  border: 2px solid var(--black);
}

main > ul > li:nth-of-type(2) > figure:nth-of-type(1) > div > span::before {
  content: "";
  width: .7em;
  height: .7em;
  position: absolute;

  top: 50%;
  right: 10%;
  transform: translate(0, -50%);

  border: 2px solid var(--black);
  border-radius: 50%;
  background-color: var(--wood-brown);
}

/* closet door right */
main > ul > li:nth-of-type(2) > figure:nth-of-type(1) > div > span:last-of-type {
  left: calc(94% - 42%);
  transform: perspective(10em) rotateY(0deg);
  transform-origin: right center;
}

main > ul > li:nth-of-type(2) > figure:nth-of-type(1) > div > span:last-of-type::before {
  right: calc(90% - .7em);
}

.closet-door-open {
  animation: closet-door-open .5s ease-out forwards;
}

@keyframes closet-door-open {
  60% {
    transform: perspective(10em) rotateY(130deg);
  }
  80% {
    transform: perspective(10em) rotateY(110deg);
  }
  100% {
    transform: perspective(10em) rotateY(120deg);
  }
}

.closet-door-close {
  animation: closet-door-close .5s ease-out forwards;
}

@keyframes closet-door-close {
  to {
    transform: perspective(10em) rotateY(0deg);
  }
}

/* --- */

/* bookshelf */

main > ul > li:nth-of-type(2) > figure:nth-of-type(2) {
  width: 10em;
  height: .5em;
  position: absolute;
  
  top: 30%;
  left: 18%;

  background-color: var(--wood-brown);
  margin: 0;
  transform-origin: right center;
  rotate: 0deg;
  border: 2px solid var(--black);
  z-index: 1;
}

main > ul > li:nth-of-type(2) > figure:nth-of-type(2) > article {
  top: -1342%;
  left: -113%;
}

main > ul > li:nth-of-type(2) > figure:nth-of-type(2) > article::after {
  top: 12%;
  right: -5%;
  z-index: -1;
}

.bookshelf-fall {
  animation: bookshelf-fall .5s 1s linear forwards;
}

@keyframes bookshelf-fall {
  60% {
    rotate: -55deg;
  }
  80% {
    rotate: -50deg;
  }
  100% {
    rotate: -55deg;
  }
}

/* --- */

/* bowling ball */

main > ul > li:nth-of-type(2) > div {
  width: 2.5em;
  height: 2.5em;
  position: absolute;

  top: 16%;
  left: 19%;
  transform: translate(0%, 0%);

  background-color: var(--black);
  margin: 0;
  border-radius: 50%;
}

.bowlingball-fall {
  animation: bowlingball-fall .5s 1.7s ease-in forwards;
}

@keyframes bowlingball-fall {
  80% {
    transform: translate(0%, 890%);
  }
  90% {
    transform: translate(0%, 840%);
  }
  100% {
    transform: translate(0%, 890%);
  }
}

/* --- */

/* painting3 */
main > ul > li:nth-of-type(3) > figure:nth-of-type(1) {
  width: 7em;
  height: 5.8em;
  position: absolute;

  top: 10%;
  left:25%;

  margin: 0;
  background-color: var(--white);
  border: var(--painting-border);
  box-shadow: var(--painting-shadow);
  z-index: 10;
}

main > ul > li:nth-of-type(3) > figure:nth-of-type(1) img {
  width: 100%;
}

main > ul > li:nth-of-type(3) > figure:nth-of-type(1) > article {
  top: -10%;
  left: 29%;
}

main > ul > li:nth-of-type(3) > figure:nth-of-type(1) > article::after {
  top: 12%;
  left: -3%;
  z-index: -1;
}
  
/* --- */

/* Spike (dog) */

main > section > button:nth-of-type(3) {
  width: 12em;
  height: 6em;
  position: absolute;

  bottom: 23%;
  left: 25%;

  z-index: 10;

  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url(../images/assets/spike.png);
  background-size: contain;
}

/* --- */

/* Trap door */

main > ul > li:nth-of-type(3) > figure:nth-of-type(2) {
  width: 5em;
  height: 5em;
  position: absolute;

  top: 58%;
  right: 15%;

  perspective: 23em;
  perspective-origin: -209%;
  margin: 0;
}

main > ul > li:nth-of-type(3) > figure:nth-of-type(2) > section:nth-of-type(1) {
  transform: rotateX(53deg);
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

main > ul > li:nth-of-type(3) > figure:nth-of-type(2) > section:nth-of-type(1) > div {
  width: 100%;
  height: 100%;
  position: absolute;

  top: 0%;
  right: 0%;
  background-color: var(--wood-darkbrown);
}

main > ul > li:nth-of-type(3) > figure:nth-of-type(2) > section:nth-of-type(1) > div:last-of-type {
  transform: rotateY(90deg);
  transform-origin: center right;
  background-color: var(--wood-lightbrown);
}

main > ul > li:nth-of-type(3) > figure:nth-of-type(2) > article {
  top: -170%;
  left: 179%;
}

main > ul > li:nth-of-type(3) > figure:nth-of-type(2) > article::after {
  top: 74%;
  left: -3%;
  z-index: -1;
}

.trapdoor-close {
  animation: trapdoor-close .5s forwards;
}

@keyframes trapdoor-close {
  from {
    transform: rotateY(90deg);
  }
  60% {
    transform: rotateY(10deg);
  }
  80% {
    transform: rotateY(20deg);
  }
  to {
    transform: rotateY(10deg);
  }
}

.trapdoor-open {
  animation: trapdoor-open .5s forwards;
}

@keyframes trapdoor-open {
  from {
    transform: rotateY(10deg);
  }
  60% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(80deg);
  }
  to {
    transform: rotateY(90deg);
  }
}

/* --- */

/* Basement */

main > ul > li:nth-of-type(4) > figure {
  margin: 0;
}

main > ul > li:nth-of-type(4) > figure > article {
  top: 9%;
  left: 20%;
  width: 40em;
}

main > ul > li:nth-of-type(4) > figure > article::after {
  top: 74%;
  left: -3%;
  z-index: -1;
}

/* --- */

/* OTHER ANIMATION */

.wiggle {
  animation: wiggle 3s infinite;
  transform-origin: center !important;
}

@keyframes wiggle {
  75% {
    rotate: 0deg;
  }
  80% {
    rotate: 3deg;
  }
  85% {
    rotate: -3deg;
  }
  90% {
    rotate: 3deg;
  }
  95% {
    rotate: -3deg;
  }
}


/* --- */

